<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Enjoy its Web Application</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <style>
    body {
      font-family: 'Arimo', sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    .container {
      max-width: 500px;
      width: 100%;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      animation: fade-in 0.5s ease-in-out;
    }

    @keyframes fade-in {
      0% {
        opacity: 0;
        transform: translateY(-20px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .container h1 {
      font-family: 'Pacifico', cursive;
      font-size: 24px;
      text-align: center;
      margin-bottom: 30px;
      color: #fff;
      background-color: #333;
      padding: 10px;
      border-radius: 5px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
      color: #333;
    }

    .form-group input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .btn {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #4CAF50;
      color: #fff;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .btn:hover {
      background-color: #45a049;
    }

    .prediction-text {
      text-align: center;
      font-size: 18px;
      margin-top: 20px;
      color: #333;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Devops-AI Powered Housing-Price Predictor V2.2</h1>
    <form action="{{ url_for('predict')}}" method="post">
      <div class="form-group">
        <label for="CRIM" style="color: #333;">CRIM:</label>
        <input type="text" name="CRIM" required="required" />
      </div>
      <div class="form-group">
        <label for="ZN" style="color: #333;">ZN:</label>
        <input type="text" name="ZN" required="required" />
      </div>
      <div class="form-group">
        <label for="INDUS" style="color: #333;">INDUS:</label>
        <input type="text" name="INDUS" required="required" />
      </div>
      <div class="form-group">
        <label for="CHAS" style="color: #333;">CHAS:</label>
        <input type="text" name="CHAS" required="required" />
      </div>
      <div class="form-group">
        <label for="NOX" style="color: #333;">NOX:</label>
        <input type="text" name="NOX" required="required" />
      </div>
      <div class="form-group">
        <label for="RM" style="color: #333;">RM:</label>
        <input type="text" name="RM" required="required" />
      </div>
      <div class="form-group">
        <label for="Age" style="color: #333;">Age:</label>
        <input type="text" name="Age" required="required" />
      </div>
      <div class="form-group">
        <label for="DIS" style="color: #333;">DIS:</label>
        <input type="text" name="DIS" required="required" />
      </div>
      <div class="form-group">
        <label for="RAD" style="color: #333;">RAD:</label>
        <input type="text" name="RAD" required="required" />
      </div>
      <div class="form-group">
        <label for="TAX" style="color: #333;">TAX:</label>
        <input type="text" name="TAX" required="required" />
      </div>
      <div class="form-group">
        <label for="PTRATIO" style="color: #333;">PTRATIO:</label>
        <input type="text" name="PTRATIO" required="required" />
      </div>
      <div class="form-group">
        <label for="B" style="color: #333;">B:</label>
        <input type="text" name="B" required="required" />
      </div>
      <div class="form-group">
        <label for="LSTAT" style="color: #333;">LSTAT:</label>
        <input type="text" name="LSTAT" required="required" />
      </div>
      <button type="submit" class="btn">Predict</button>
    </form>
    <div class="prediction-text">
      {{prediction_text}}
    </div>
  </div>
</body>
</html>
